#!/bin/bash
# config file for findAndConvert script

# no edit after this line
scriptFile="$scriptDir/$scriptFileName"
listFile="$scriptDir/$listFileName"
logFile="$scriptDir/$logFileName"
rm $logFile && touch $logFile

fcflog() { 
# $1 = DESCRIPTION (INFO, WARNING, ERROR)  $2 = LOGTEXT
timestamp=$(date "+%d"."%m"."%Y %T")
echo "$timestamp        $1      $2" >> $logFile
echo "$1: $2"
}

spinner() {
    local i sp n
    sp='/-\|'
    n=${#sp}
    printf ' '
    while sleep 0.1; do
        printf "%s\b" "${sp:i++%n:1}"
    done
}

